body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
    background-image: url("{{ url_for('static', filename='images/bc2.jpg') }}");
    background-size: cover;
    background-position: 0 -120px;
    color: #000000;
}

.content{
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
    margin-top: 10%;
}

.form-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    border: solid 1px white;
    padding: 50px;
    border-radius: 15px;
}

.prediction-result{
    padding-top: 80px;
    color:#FFFFFF;
}

.heading{
    color: #d6fffd;
    margin-top: 80px;

}

.predict-button{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(43, 43, 255);
    color: white;
    /* font-weight: bold;
    letter-spacing: 0.7px; */
    border: none;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    cursor: pointer;
}
.predict-button:hover{
    background-color: #3f3fff;
    padding: 12px 32px 12px 32px;

}
